

body {
    margin: 0;
    text-align: center;
    background: #14213d;
    color: #EEEEEE;
}


.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
 
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    color: #EEEEEE;
    border-color: #EEEEEE; 
    border-width: 1px;
   
}

h3 {
   font-size: 45px; 
   margin-bottom: 20px; 
    
}